* {margin = 0;
padding = 0;
}

h1{
    text-align: center;
} 

body {
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
}

.sketch-container {
    display: flex;
    justify-content: center;
    width: 800px;
    height: 800px;
    background-color: purple;
    padding-top: 50px;
}

.sketch-screen {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 600px;
    height: 600px;
    background-color: whitesmoke;
}

.sketch-screen > div {
    height: auto;
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
}

.sketch-screen > div > * {
    flex: 1;
}
